.headerWall1{
    background-size: cover;
   justify-content: space-around;
    width: -webkit-fill-available;
    background-color: #1d66a6ce;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em;
}
div.divHeader1{
    display: grid;
    grid-area: 25%;
}
.logo1{
    border-radius: 90%;
    background-color: #1D65A6;
    width: 9em;
    height: 9em
}
.home1{
    border-radius: 90%;
    background-color: #1D65A6;
    width: 9em;
    height: 9em;
}
.perfile1{
    border-radius: 95%;
    background-color: #1D65A6;
    width: 9em;
    height: 9em;
}
.logout1{
    border-radius: 110%;
    background-color: #ac0a0a;
    width: 9em;
    height: 9em;
}
img {
    width: 5.6em;
    height: 5.6em;
    border-radius: 90%; 
}
.divPost1{  
    background-color: rgb(255, 255, 255);
    padding: 25px;
    margin: 2em;
    margin-left: 6em;
    margin-right:6em ;
    box-shadow:0.5em 0.5em rgba(228, 72, 10, 0.1);
    border-radius: 20px;
    display: grid;
    border-style: none; border-width: 1px;
    gap: 1.5em;

}
@media (min-width:1024px){
    img {
        width: 8em;
        height: 8em;
        border-radius: 90%;
    }
    }