.signup{
    width: auto;
    height: auto;
    background: url("./img/avesmigratorias.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-areas:
    "header"
    "asideLogo"
    "containerForm"
    "footer";
    gap: 0.5em;
    justify-content: center;
}
.divFormulario{
    grid-area: 'containerForm';
    display: grid;
    text-align: center;
    width: 100%;
    height: 60%;
    justify-content: center;
    gap: 0.6em;
}
 .registrarse{
     background-color: blue;
     color: white;
     border-color: orange;
     height: 2em;
 }
 
@media (min-width:1024px){
    .signup{
        grid-template:
        "header header" 15%
        "asideLogo divFormulario" auto
        "footer footer" 20%
         ;
         grid-template-columns: 50% 50%;
         width: 100%;
         height: 100%;
         display: grid;
         justify-content: center;
         text-align: center;
         
        }
        .divImg{
            text-align: center;
            height: 45%;
            
            }
            .imgLogo {
            width:10em;
            height: 10em;
            border-radius: 50%;
            text-align: center;
            }
            
            .review{
               color: rgb(255, 255, 255);
               /*height: 50%;*/
               text-align: center;
               font-size: 1.3em;
               padding-top: 1.5em;
            
            }
            .asideLogo{
               grid-area: "asideLogo";
               justify-content: center;
               padding-top: 7%;
               height: 100%;
               text-align: center;
            
            }
        
            .divFormulario{
               padding-top: 8%;
               text-align: center;
               display: grid;
               grid: 1.5em;
               width: 100%;
               height: 100%;
            }
            .registrarse{
                height: 3.1em;
            }
            .footer{
                font-size: 1.1em;
            }
}